In [1]:
print('Aashis pouedl')
print('Aashis pouedl')
print('Aashis pouedl')

Aashis pouedl
Aashis pouedl
Aashis pouedl

In [2]:
a=2
b=4
c=6
d=a+b+c
print(d)

a1='Hello'
b1='Aashis'
c1=3
d1=a1+b1+str(c1)
print(d1)

12
HelloAashis3

In [4]:
n=7
for i in range(1,11):
  print(n,'x',i,'=',n*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
n=int(input('Enter the number table is to be printed'))
for i in range(1,11):
  print(n,'x',i,'=',n*i)

Enter the number table is to be printed8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [7]:
n=int(input('Enter the nth term='))
a=0
for i in range(1,n+1):
  a=a+i

print(a)

Enter the nth term=5
15

In [11]:
a=int(input('Enter the first term='))
b=int(input('Enter the second term='))
c=int(input('Enter the third term='))
s=max(a,b,c)
print("The max Number is=",s)

Enter the first term=8
Enter the second term=9
Enter the third term=11
The max Number is= 11

In [13]:
t = 0
n = int(input("Enter the nth term: "))

for i in range(1, n+1):
    if i % 7 == 0 and i % 9 == 0:
        t += i

print(t)

Enter the nth term: 88
63

In [14]:
n = int(input("Enter the upper limit: "))
prime_sum = 0

for number in range(2, n + 1):
    is_prime = True

    for divisor in range(2, int(number**0.5) + 1):
        if number % divisor == 0:
            is_prime = False
            break

    if is_prime:
        prime_sum += number

print(f"Sum of prime numbers from 1 to {n}: {prime_sum}")

Enter the upper limit: 5
Sum of prime numbers from 1 to 5: 10

In [16]:
def add_number(n):
  s = 0
  for i in range(1, n+1):
    if i % 2 != 0:
      s = s + i
  return s

print(add_number(15))

64

In [18]:
def sum_prime_numbers(n):
    if n < 2:
        return 0

    prime_sum = 0

    for number in range(2, n + 1):
        is_prime = True

        for divisor in range(2, int(number**0.5) + 1):
            if number % divisor == 0:
                is_prime = False
                break
        if is_prime:
            prime_sum += number

    return prime_sum

print(sum_prime_numbers(15))

41